@page
@model Library.App.Pages.BookPages.AddModel
@{
    ViewData["Title"] = "Add";
}

<h2>Add</h2>
<form  method="post">
    <div class="form-group">
        <label asp-for="@Model.Book.Title"></label>
        <input class="form-control" type="text" asp-for="@Model.Book.Title" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Book.Author"></label>
        <input class="form-control"type="text" asp-for="@Model.Book.Author" />
    </div>

    <div class="form-group">
        <label  asp-for="@Model.Book.Description"></label>
        <input class="form-control" type="text" asp-for="@Model.Book.Description" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Book.ImageUrl"></label>
        <input class="form-control"  type="text" asp-for="@Model.Book.ImageUrl" />
    </div>
    <div class="form-group">
        <input class="btn btn-success" type="submit" value="Add" />
        <a class="btn btn-default" href="/">Cancel</a>
    </div>
   
</form>
